/* Sakkal Majalla */
@font-face
{
    font-family: 'Sakkal Majalla';
    src: url('../fonts/sakkal-majalla/sakkal-majalla.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/* League Spartan */
@font-face
{
    font-family: 'League Spartan';
    src: url('../fonts/league-spartan/league-spartan.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
